html {
  box-sizing: border-box;
 
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
}

/* grid system */
.row{
  display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}


[class*="data-"]{
	margin-left: 4%;
	margin-top: 4%;
}

.data-week{
	 padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #b4abdd, -5px -5px 13px #ffffff;
}

.main__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.data-week-title{
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;
	align-self: center;
}

.main__greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
 
}

.main__greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}
.lottie-file{
	
	padding: 0;
	margin: 0;
	
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px){
	.data-card, .data-week{
		flex: 0 0 44%;
	}

	
}


/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.data-card{
		flex: 0 0 20%
	}

	.data-week{
		flex: 0 0 44%;
	}

	

}


