html {
  box-sizing: border-box;
 
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
}

/* grid system */
.row{
  display: flex;
	flex-flow: row wrap;
	align-items: center;
}


[class*="data-"]{
	margin-left: 4%;
	margin-top: 4%;
}

.data-week{
	 padding: 25px;
  border-radius: 5px;
  background: #ffffff;
 box-shadow: 5px 5px 13px #6c619e, -5px -5px 13px #ffffff;
}
.data-week-title{
	
	
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.data-card{
		flex: 0 0 20%
	}


	

}


