
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* html,body {
    height: 100%;
} */
/* body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
} */


main{
    background-size: 100%;
    height: 100%;
  color: #eabf9f;
    font-family: "Roboto Mono", monospace;

        background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 10%);
    min-height: 100vh;

}

.time-sets{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.time-sets h3{
     font-family: 'Share Tech Mono', monospace;
}

.time-sets span{
    cursor: pointer;
    font-size: 2rem;
}
.time{
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    font-size: 3rem;
}



.pomodoro-wrapper {
	width: 97%;
	max-width: 1200px;
    display: flex;
     justify-content: center;
  align-items: center;
  flex-direction: column;
   color: #ffffff;
    text-align: center;
    /* background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
     */
   
}

.play-pause{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
    display: inline-block;
    width: 100px;
}

.settings{
    margin-top: 1rem;
    width: auto;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.4rem;
    line-height: 36px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

.settings:hover, .save-button:hover{
    background-color: rgba(255, 255, 255, 0.02);
}

.button-text{
    width: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.4rem;
    line-height: 36px;
}

.save-button{
    width: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px 40px;
    font-size: 1.4rem;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
     cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 3rem
    
}

.pomodoro-buttons button{
    cursor: pointer;
    font-size: 1rem;
}

.close, .close-icon{
    color: white;
}

.save-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-title{
    font-size: 3rem;
}

.timer-session{
    font-size: 2rem;   
}


.timer-container{
    display: flex;
    flex-direction: column;
     position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.length-change{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}